<div id="app-home" class="container-fluid" *ngIf="{ state: usersState$ | async, users: users$ | async } as routeData">

  <api-state [state]="routeData?.state" [toaster]="true" [showSuccess]="false" *ngIf="routeData?.state">

    <div class="float-right">
      <button class="btn btn-sm btn-primary" (click)="ui.loanBeamOpen()">
        <i aria-hidden="true" class="fa fa-external-link-square"></i> Open LoanBeam
      </button>
    </div>

    <div class="alert alert-warning icon" *ngIf="!routeData?.users?.length">No users found</div>

    <ngb-tabset class="nav-tabs-sm" *ngIf="routeData?.users?.length">
      <ngb-tab>
        <ng-template ngbTabTitle>
          New Loans <small><em> ({{( routeData?.users | filter : true : 'new').length }})</em></small>
        </ng-template>
        <ng-template ngbTabContent>
          <app-loans [loans]="routeData?.users | filter : true : 'new'"
                     (issueReceipt)="issueReceipt()">
          </app-loans>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          Resubmittals <small><em> ({{( routeData?.users | filter : false : 'new').length }})</em></small>
        </ng-template>
        <ng-template ngbTabContent>
          <app-loans [loans]="routeData?.users | filter : false : 'new'"
                     (issueReceipt)="issueReceipt()">
          </app-loans>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

  </api-state>

</div>

