<div id="app-home" class="container-fluid" *ngIf="{ state: queueState$ | async, queue: queue$ | async } as routeData">

  <div class="card mb-3">
    <div class="card-header p-2">

      <div class="float-right">
        <a class="btn btn-primary btn-sm" target="_blank" href="https://loanbeam.docs.apiary.io/#"><i class="fa fa-share" aria-hidden="true"></i> Open LoanBeam</a>
      </div>

      <button class="btn btn-icon btn-sm mr-2" (click)="usersRefresh()" [disabled]="routeData?.state?.loading">
        <i class="fa fa-refresh"></i>
      </button>

      <!-- Filter datatable -->
      <form class="form-inline mr-3 d-inline-block">
        <label class="icon filter" style="position:relative;">
          <input class="form-control form-control-sm filterSearch" type="text" name="filterGlobal" placeholder="Filter loan number" [ngModel]="filterGlobal.term" (ngModelChange)="onfilterGlobal($event)" data-qa="hp-filter-global" />
          <a (click)="filterGlobal.term = null; onfilterGlobal()" *ngIf="filterGlobal.term" style="position:absolute;right: 10px;"><i class="fa fa-remove"></i></a>
        </label>
      </form>
    </div>
  </div>

  <api-state [state]="routeData?.state" [toaster]="true" [showSuccess]="false" *ngIf="routeData?.state">
    <div class="alert alert-warning icon" *ngIf="!routeData?.queue?.src?.length">No users found</div>

    <ngb-tabset #tab="ngbTabset" class="nav-tabs-sm">
      <ngb-tab>
        <ng-template ngbTabTitle>
          New Loans
          <small>
            <em *ngIf="routeData?.queue?.src?.length">
              ({{(routeData.queue.src | filter : true : 'new').length }})
            </em>
          </small>
        </ng-template>
        <ng-template ngbTabContent>
          <div style="position:relative;height:calc(100vh - 165px)">
            <datagrid #datagrid *ngIf="routeData?.queue?.src?.length"
                      [rows]="routeData.queue.src | filter : true : 'new' "
                      [columns]="columns"
                      [state]="state"
                      [options]="options"
                      [filterGlobal]="filterGlobal"
                      (onStateChange)="onStateChange($event)"
                      (onRowsSelected)="onRowsSelected($event)"
                      (onRowUpdated)="onRowUpdated($event)">

              <!-- Custom templates, prop corresponds to column property -->
              <datagrid-column prop="lnkey">
                <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                  {{value}}
                </ng-template>
              </datagrid-column>

              <datagrid-column prop="docNum">
                <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                  {{row?.documents?.length}}
                </ng-template>
              </datagrid-column>

              <datagrid-column prop="documents">
                <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                  <a (click)="downloadDocs(value)"><i class="fa fa-download" aria-hidden="true"></i> {{value}}</a>
                </ng-template>
              </datagrid-column>

              <datagrid-column prop="complete">
                <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                  <app-launch-modal modal="ReceiptComponent" size="lg" [data]="value" [isButton]="false">
                    <i class="fa fa-university" aria-hidden="true"></i> Issue Receipt
                  </app-launch-modal>
                </ng-template>
              </datagrid-column>

            </datagrid>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          Resubmittals
          <small>
            <em *ngIf="routeData?.queue?.src?.length">({{(routeData.queue.src | filter : false : 'new').length }})</em>
          </small>
        </ng-template>
        <ng-template ngbTabContent>
          <div style="position:relative;height:calc(100vh - 165px)">
            <datagrid #datagrid *ngIf="routeData?.queue?.src?.length"
                      [rows]="routeData.queue.src | filter : false : 'new' "
                      [columns]="columns"
                      [state]="state"
                      [options]="options"
                      [filterGlobal]="filterGlobal"
                      (onStateChange)="onStateChange($event)"
                      (onRowsSelected)="onRowsSelected($event)"
                      (onRowUpdated)="onRowUpdated($event)">

              <!-- Custom templates, prop corresponds to column property -->
              <datagrid-column prop="lnkey">
                <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                  {{value}}
                </ng-template>
              </datagrid-column>

              <datagrid-column prop="docNum">
                <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                  {{row?.documents?.length}}
                </ng-template>
              </datagrid-column>

              <datagrid-column prop="documents">
                <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                  <a (click)="downloadDocs(value)"><i class="fa fa-download" aria-hidden="true"></i> {{value}}</a>
                </ng-template>
              </datagrid-column>

              <datagrid-column prop="complete">
                <ng-template let-value="value" let-column="column" let-row="row" datagrid-cell-template>
                  <app-launch-modal modal="ReceiptComponent" size="lg" [data]="value" [isButton]="false">
                    <i class="fa fa-university" aria-hidden="true"></i> Issue Receipt
                  </app-launch-modal>
                </ng-template>
              </datagrid-column>

            </datagrid>

          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>


  </api-state>
</div>

