<form name="formModal" id="modalReceipt">

  <div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-eye" aria-hidden="true"></i> Loan Beam Document Submittal Verification</h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-3">
      <div class="list-group small">
        <a href="#" class="list-group-item list-group-item-action active">
          Receipt #1 <small><em>(04/18/2018)</em></small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          Receipt #2 <small><em>(04/18/2018)</em></small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          Receipt #3 <small><em>(04/18/2018)</em></small>
        </a>
      </div>
    </div>
    <div class="col-9">
      <!-- Local fallback if not on remote server -->
      <object id="pdfViewer"
              data="assets/media/loanbean-receipt.pdf"
              type="application/pdf"
              class="w-100 pdf e2e-document" style="top: 52px;">
        <embed src="assets/media/loanbean-receipt.pdf" type="application/pdf" />
      </object>
    </div>
  </div>
  

  </div>

  <div class="modal-footer" style="justify-content: space-between;">
    <button type="button" class="btn btn-interact-outline float-left pull-left dismiss" (click)="activeModal.dismiss('Close click')">Close</button>
    <!--
  <button type="button" class="btn btn-interact submit" (click)="submit()" aria-label="Close" [disabled]="waiting" [ngClass]="{'btn-waiting':waiting}">
    <i class="fa fa-check" aria-hidden="true"></i> Confirm Receipt
  </button>
  -->
  </div>

</form>
