<table class="table table-sm table-striped small" [ngClass]="{ 'resubmit': resubmittal}">
  <thead class="thead-dark">
    <tr>
      <th>Loan</th>
      <th><span class="d-none d-xl-inline">Borrower</span> First Name</th>
      <th><span class="d-none d-xl-inline">Borrower</span> Last Name</th>
      <th>Location</th>
      <th class="th-lg">
        <span class="d-none d-xl-inline">Download</span>
        <ng-container *ngIf="resubmittal"> New  </ng-container>
        Documents
      </th>
      <th class="th-lg">Issue Receipt</th>
      <th class="th-lg" *ngIf="resubmittal">View Receipts</th>
      <th class="th-lg" *ngIf="resubmittal">Reupload</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loan of loans" [ngClass]="{ 'table-danger strong' : hasDownloaded[loan.lnkey] }">
      <td title="Click to copy this value to the clipboard" class="cursor" (click)="copyToClipboard(loan.lnkey)">
        {{loan.lnkey}}
      </td>
      <td title="Click to copy this value to the clipboard" class="cursor" (click)="copyToClipboard(loan.fName)">
        {{loan.fName}}
      </td>
      <td title="Click to copy this value to the clipboard" class="cursor" (click)="copyToClipboard(loan.lName)">
        {{loan.lName}}
      </td>
      <td title="Click to copy this value to the clipboard" class="cursor" (click)="copyToClipboard('Corporate')">
        Corporate
      </td>
      <td>
        <a (click)="docsDownload('/assets/media/100178595.zip', loan.lnkey)">
          <i aria-hidden="true" class="fa fa-download"></i>
          <span class="d-none d-xl-inline">Download</span>
          <ng-container *ngIf="resubmittal"> New  </ng-container>
          Docs <em>({{loan.docs}})</em>
        </a>
      </td>
      <td>
        <a (click)="receiptIssue(loan.lnkey, hasDownloaded[loan.lnkey])"
           [ngClass]="{ 'disabled' : !hasDownloaded[loan.lnkey] }"
           [title]="!hasDownloaded[loan.lnkey] ? 'Documents must be downloaded before issuing receipt' : 'Issue Receipt' ">
          <i aria-hidden="true" class="fa fa-university"></i> Issue <span class="d-none d-xl-inline">Receipt</span>
        </a>
      </td>
      <td *ngIf="resubmittal">
        <app-launch-modal modal="ReceiptComponent" size="xl" [data]="loan.lName"[isButton]="false">
          <i aria-hidden="true" class="fa fa-eye"></i> View <span class="d-none d-xl-inline">Prior Receipts</span>
        </app-launch-modal>
      </td>
      <td *ngIf="resubmittal">
        <a>
          <i aria-hidden="true" class="fa fa-external-link-square"></i> Upload <span class="d-none d-xl-inline">New Docs</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
